@page
@model NIRS.Pages.Account.AddBalanceModel
@{
    ViewData["Title"] = "Add Balance";
}

<h1>Add Balance</h1>

<form method="post">
    <div>
        <label asp-for="AmountToAdd">Amount to Add:</label>
        <input asp-for="AmountToAdd" type="number" min="0" />
        <span asp-validation-for="AmountToAdd"></span>
    </div>
    <button type="submit">Add Balance</button>
</form>

@if (Model.AmountToAdd > 0)
{
    <p>@Model.AmountToAdd has been added to your balance.</p>
}